<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form
  [formGroup]="productForm"
  class="grid grid-cols-1 sm:grid-cols-2 gap-4"
  (ngSubmit)="onSubmit()"
>
  <!-- General Data -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">General Data</h2>
    <label for="title">Title</label>
    <input
      id="title"
      type="text"
      placeholder="Title"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('title')?.errors ?? false"
      formControlName="title"
    />
    <form-error-label [control]="productForm.get('title')!" />

    <label for="slug">Slug</label>
    <input
      id="slug"
      type="text"
      placeholder="Slug"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('slug')?.errors ?? false"
      formControlName="slug"
    />
    <form-error-label [control]="productForm.get('slug')!" />

    <label for="description">Description</label>
    <textarea
      id="description"
      class="textarea textarea-bordered"
      [class.border-red-500]="productForm.get('description')?.errors ?? false"
      placeholder="Description"
      rows="6"
      formControlName="description"
    ></textarea>
    <form-error-label [control]="productForm.get('description')!" />

    <h2 class="text-lg font-bold">Sales Data</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <label for="price">Price</label>
        <input
          id="price"
          type="number"
          placeholder="Price"
          class="input input-bordered w-full"
          [class.border-red-500]="productForm.get('price')?.errors ?? false"
          formControlName="price"
        />
        <form-error-label [control]="productForm.get('price')!" />
      </div>

      <div>
        <label for="inventory">Inventory</label>
        <input
          id="inventory"
          type="number"
          placeholder="Inventory"
          class="input input-bordered w-full"
          [class.border-red-500]="productForm.get('stock')?.errors ?? false"
          formControlName="stock"
        />
        <form-error-label [control]="productForm.get('stock')!" />
      </div>
    </div>

    <!-- tags -->
    <label for="tags">Tags (comma separated)</label>
    <input
      id="tags"
      type="text"
      placeholder="Tags"
      class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('tags')?.errors ?? false"
      formControlName="tags"
    />
    <form-error-label [control]="productForm.get('tags')!" />

    <!-- Buttons for Gender -->
    <div class="grid grid-cols-4 gap-2">
      <!-- <button class="btn btn-sm btn-outline">Male</button> -->
      <button
        class="btn btn-sm"
        [class.btn-primary]="productForm.value.gender === 'men'"
        type="button"
        (click)="productForm.patchValue({ gender: 'men' })"
      >
        Male
      </button>
      <button
        class="btn btn-sm"
        [class.btn-accent]="productForm.value.gender === 'women'"
        type="button"
        (click)="productForm.patchValue({ gender: 'women' })"
      >
        Female
      </button>
      <button
        class="btn btn-sm"
        [class.btn-warning]="productForm.value.gender === 'kid'"
        type="button"
        (click)="productForm.patchValue({ gender: 'kid' })"
      >
        Kid
      </button>
      <button
        class="btn btn-sm"
        [class.btn-secondary]="productForm.value.gender === 'unisex'"
        type="button"
        (click)="productForm.patchValue({ gender: 'unisex' })"
      >
        Unisex
      </button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button
        class="btn btn-sm"
        [class.btn-secondary]="productForm.value.sizes?.includes(size)"
        type="button"
        (click)="onSizeClicked(size)"
      >
        {{ size }}
      </button>
      }
    </div>
  </div>

  <!-- Images -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Save
      </button>
    </div>

    <product-carousel [images]="product().images" />

    <input type="file" class="file-input file-input-bordered w-full mt-4" />
  </div>
</form>
